services:
  algorithm-exercises-py:
    image: algorithm-exercises-py:latest
    build:
      context: .
      target: testing
    environment:
      LOG_LEVEL: ${LOG_LEVEL:-INFO} ## (1) ## INFO | DEBUG
      BRUTEFORCE: ${BRUTEFORCE:-false} ## (1) ## true | false
    volumes:
      - ./coverage:/app/coverage
    profiles: ["testing"]

  algorithm-exercises-py-lint:
    image: algorithm-exercises-py:lint
    build:
      context: .
      target: lint
    # environment:
      # LOG_LEVEL: ${LOG_LEVEL:-info} ## (1) ## info | debug
      # BRUTEFORCE: ${BRUTEFORCE:-false} ## (1) ## true | false
    volumes:
      - ./:/app
    profiles: ["lint"]

  algorithm-exercises-py-dev:
    image: algorithm-exercises-py:dev
    build:
      context: .
      target: development
    environment:
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
      BRUTEFORCE: ${BRUTEFORCE:-false} ## (1) ## true | false
    volumes:
      - ./:/app
    profiles: ["development"]

## REFERENCES:
## (1) Passing Environment variable with fallback value:
##    https://stackoverflow.com/a/70772707/6366150
##
