astroid==3.0.2
attrs==23.2.0
coverage==7.4.1
dill==0.3.7
exceptiongroup==1.2.0
flake8==7.0.0
iniconfig==2.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
nodeenv==1.8.0
packaging==23.2
platformdirs==4.1.0
pluggy==1.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
pylint==3.0.3
pyright==1.1.348
pytest==8.0.0
pytest-cov==4.1.0
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
wrapt==1.16.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
