astroid==2.13.3
attrs==22.2.0
coverage==7.0.3
dill==0.3.6
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
packaging==23.0
platformdirs==2.6.2
pluggy==1.0.0
pylint==2.15.10
pyparsing==3.0.9
pytest==7.2.0
tomlkit==0.11.6
wrapt==1.14.1
