---
name: Python CI Coverage

on: # yamllint disable-line rule:truthy
  push:
    branches: ["main"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["main"]
  workflow_dispatch:

env:
  LOG_LEVEL: INFO

jobs:
  coverage:
    name: "Python CI Coverage"
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-24.04"]
        python: ["3.14"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v5
        with:
          # Shallow clones should be disabled for a better relevancy of analysis
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python }}

      - name: Install
        run: |
          pip3 install -r requirements.txt

      - name: Test an coverage collect
        run: >
          python3 -m coverage run -m pytest --verbose
          -o log_cli=true
          --log-cli-level=INFO
          src/

      - name: Coverage Report
        run: |
          python3 -m coverage report

      - name: Coverage lcov (codecov)
        run: |
          python3 -m coverage lcov -o coverage/lcov.info

      - name: Coverage xml (sonarcloud)
        run: |
          python3 -m coverage xml -o coverage/coverage.xml

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: coverage

  codecov:
    name: Upload to Codecov
    runs-on: ubuntu-24.04
    needs: coverage

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Download coverage artifact
        uses: actions/download-artifact@v6
        with:
          name: coverage-report
          path: coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@96b38e9e60ee60a8c3911f4612407bba2f9195fb
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

  sonarqube:
    name: Analyze with SonarQube
    runs-on: ubuntu-24.04
    needs: coverage

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download coverage artifact
        uses: actions/download-artifact@v6
        with:
          name: coverage-report
          path: coverage

      - name: SonarQube Scan
        # yamllint disable-line rule:line-length
        uses: SonarSource/sonarqube-scan-action@40f5b61913e891f9d316696628698051136015be
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
