name: Python

on:
  push:
    branches: [ "main", "develop", "feature/*" ]
  pull_request:
    branches: [ "main" ]

env:
  LOG_LEVEL: INFO

jobs:

  build:
    name: "Run CI"
    strategy:
      fail-fast: false
      matrix:
        os: [
          "windows-latest",
          "ubuntu-latest",
          "macOS-latest"
        ]
        python: ['3.10', '3.11', '3.12']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4

    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python }}

    - name: Install
      run: |
        pip3 install -r requirements.txt

    - name: Lint (pylint)
      run: |
        pylint --verbose --recursive yes src/

    - name: Lint (flake8)
      run: |
        python3 -m flake8 --verbose src/

    - name: Lint (pyright) static type checker
      run: |
        python3 -m pyright --verbose src/

    - name: Styling (pycodestyle)
      run: |
        python3 -m pycodestyle --statistics src/

    - name: Test
      run: |
        coverage run -m pytest --verbose -o log_cli=true --log-cli-level=INFO src/

    - name: Coverage
      run: |
        coverage report

    - name: Upload coverage reports to Codecov with GitHub Action
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # required
        verbose: true # optional (default = false)
